@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #d7deee;
  background: #070b12;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
